@import url(https://fonts.googleapis.com/css?family=PT+Sans);

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

.container-fluid section:nth-child(2n) {
  background-color: whitesmoke;
}

.container-fluid {
  margin: 0;
  padding: 0;
}

.container-fluid section {
  padding: 20px 10px;
}

@media (min-width: 768px){
  .container-fluid section {
    padding: 20px 10%;
  }
}

body { 
  padding-top: 109px; 
}

#top-navigation {
  height: 109px;
  background-color:rgba(255, 255, 255, 0.98);
}

#top-navigation .navbar-header {
  padding: 30px 0 30px 0;
}

.navbar-brand {
  letter-spacing: 0.3em;
}

#navbar {
  padding: 30px 0 30px 0;
  font-family: 'PT Sans', sans-serif;
  background-color:rgba(255, 255, 255, 0.98);
  overflow-x: hidden;
}

#navbar li {
  padding: 0 0 0 20px;
}

@media (min-width: 768px){
  #navbar {
    background-color: transparent;
  } 
  
  #navbar li{
    padding: 0;
  }
}

#navbar li a{
  letter-spacing: 0.2em;
}
#navbar li a:hover{
  transition: color 1s ease;
}

#navbar li.active a{
  background-color: inherit;
  color: #facb1b;
  transition: color 1s ease;
}

@media (min-width: 768px){
  .navbar .navbar-nav {
          display: inline-block;
          float: none;
          vertical-align: top;
  }

  .navbar .navbar-collapse {
          text-align: center;
  }
}

#content-box {
  text-align: justify;
}
